* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}

.header {
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 57px;
}

.nav-menu-item {
    margin-right: 25px;
}

.nav-menu-link {
    color: #fff;
    text-decoration: none;
    transition: 0.1s;
}

.nav-menu-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.menu-btn {
    display: none;
}

.film {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.film-info-title-small {
    font-size: 24px;
    line-height: 150%;
    opacity: 0.5;
}

.film-info-title {
    margin-top: 11px;
    margin-bottom: 23px;
    font-size: 36px;
    line-height: 42px;
}

.film-info-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}

.film-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.film-time {
    display: flex;
    align-items: center;
}

.time-clock {
    margin-right: 14px;
}

.film-rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.rating-icon {
    margin-right: 14px;
}

.rating-strong {
    font-size: 24px;
    line-height: 150%;
}

.film-trailer {
    margin: auto;
}

.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.session-label {
    display: block;
    margin-bottom: 20px;
}

.session-date-block {
    display: flex;
}

.session-date-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin-right: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.session-month {
    font-size: 16px;
    line-height: 19px;
}

.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

.session-date-item:hover {
    background-color: #FE8E05;
    color: #621402;
}

.session-select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.select-cinema {
    width: 470px;
}

.session-cinema-item {
    background:rgba(71, 18, 18, 0.7);
}

.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-bottom: 40px;
}

.scheme-svg {
    max-width: 1170px;
}

.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5)
}

.scheme path.booked,
.scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
    fill: #FE8E05;
}

.legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1024px;
    width: 90%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
}

.legend-label {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.legend-active .legend-text {
    color: #FE8E05;
}

.legend svg {
    margin-right: 10px;
}

.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-size: 52px;
    line-height: 61px;
}

.button-pay {
    background: #FE8E05;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    display: block;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .select-cinema {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session-time {
        order: 2;
    }
    .session-cinema {
        order: 3;
    }
    .nav-menu-item {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .nav-menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 32px;
        flex-direction: column;
        background-color: #621402;
        padding: 10px;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.5s, transform 0.5s;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .nav-menu-item {
        margin: 8px;
    }
    .nav {
        position: relative;
    }
    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;;
        position: relative;
        margin-left: 20px;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background: rgb(255, 255, 255);
    }
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.4s;
    }
    .menu-btn span::before {
        transform: translateY(-5px);
    }
    .menu-btn span::after {
        transform: translateY(5px);
    }
    .menu-btn-active span::before {
        transform: rotate(-35deg);
        width: 10px;
        transform-origin: left top;
    }
    .menu-btn-active span::after {
        transform: rotate(35deg);
        width: 10px;
        transform-origin: left bottom;
    }
    .film-info-description {
        margin-right: 30px;
    }
    .film {
        flex-direction: column;
    }
    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;
    }
    .session-date {
        margin-bottom: 25px;
    }
    .session-time {
        margin-bottom: 25px;
    }
    .session-label {
        margin-bottom: 10px;
    }
    .session-date-block {
        margin-top: 20px;
    }
    .header {
        background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
    }
}
@media (max-width: 500px) {
    .header {
        width: 100%;
    }
    .session-date-item {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .legend {
        max-width: 400px;
        width: 90%;
        margin: auto;
    }
    .legend-label {
        width: 28%;
        font-size: 12px;
    }
    .legend-label svg {
        width: 30px;
        height: 25px;
    }
    .button-pay {
        font-size: 14px;
        line-height: 18px;
        padding: 16px 30px;
        display: block;
        white-space: nowrap;
    }
}
@media (max-width: 400px) {
    .header {
        width: 100%;
    }
    .session-month {
        font-size: 13px;
        line-height: 16px;
    }
    .session-day {
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
    }
    .session-week {
        font-size: 15px;
        line-height: 20px;
    }
    .session-date {
        width: 100%;
    }
    .legend {
        max-width: 400px;
        width: 70%;
        margin: auto;
    }
    .legend-label {
        font-size: 10px;
    }
    .legend-label svg {
        width: 30px;
        height: 25px;
    }
    .price {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .price-tag {
        padding-top: 20px;
        padding-bottom: 40px;
        white-space: nowrap;
    }
    .price-label {
        font-size: 15px;
        line-height: 21px;
    }
    .price-price {
        font-size: 40px;
        line-height: 40px;
    }
    .button-pay {
        font-size: 14px;
        line-height: 15px;
        padding: 15px 24px;
        display: block;
        white-space: nowrap;
        order: 3;
    }
}